html, body {
  margin: 0;
  padding: 0;
}

.tmpContainer {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

div {
  user-select: none;
}

/*********************************/

.gridWrapper {
  display: flex;
  margin: 15px 0;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: unset;
}

.gridTable {
  width: 100%;
  height: 100%;
  font-family: Arial;
}

.scrollableContainerWrapper {
  height: 100%;
  background-color: #F7F7F7;
}

/**********************************/

.headerWrapper {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: #888;
  background-color: #eee;
}

.headerCell {
  display: inline-flex;
  padding: 0 16px;
  border: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;

  &:hover{
    cursor: pointer;
    color: #505050;
    background-color: #D0D0D0;
  }
}

.columnHeaderWrapper {
  display: flex;
}

.addNewRowBtn {
  display: flex;
  user-select: none;
  color: #288dc8;
  background-color: #bedcee;
  cursor: pointer;
  width: 100%;
  padding-left: 12px;
  align-items: center;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 500;

  &:hover {
//    background-color: $very-light-blue;
  }
}

/************************************/

.rowContainer {
  display: block;
}

.rowStyle {
  display: inline-flex;
  box-sizing: border-box;

  &:nth-of-type(odd) .gridCell {
    background-color: #f9fcfd;
  }

  &:nth-of-type(even) .gridCell {
    background-color: #ffffff;
  }

  &:hover .gridCell {
    background-color: #e9f3ff;
  }
}

.gridCell {
  color: #666;
  cursor: cell;
  padding: 0 16px;
  border: none;
  border-right: 1px solid #D8D8D8;
  box-sizing: border-box;

  &.errorStyles {
    background-color: #FFEBEB !important;
    border-bottom: 2px solid #FF9494 !important;
  }

  &.readOnly {
    cursor: not-allowed;
  }

  &:last-child {
    border: none;
  }

  &:focus {
    cursor: text;
    outline: none;
    border-bottom: 2px solid #288dc8;
  }
}

/***************************************/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .showTooltipText {
  visibility: hidden;
  width: 200px;
  margin-left: -100px; // negative of half of the width
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 7px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .showTooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .showTooltipText {
  visibility: visible;
  opacity: 1;
}

.tooltip .hideTooltipText {
  display: none;
}
